.footer {
  padding: 2rem 0 1rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: white;
  left: 0;
  right: 0;
  bottom: 0;
  margin-top: auto !important;
  position: absolute;

  .footer-github-line {
    margin: 0 auto;
    text-align: center;
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
  }
}
