.pagination-banner,
.footer {
  padding-bottom: 1rem;
  display: flex;
  justify-content: center;
  background-color: white;
  .footer-github-line {
    display: flex;
    flex-direction: row;
  }
}

.pagination-banner {
  margin-top: 3rem;
  padding-top: 1rem;
}
