.navbar {
  padding: 1rem 0;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-items: center;
  .navbar-logo {
    width: 25vw;
    margin: auto;
    text-align: center;
    cursor: pointer;
  }
  .search-bar {
    display: flex;
    margin: 1rem auto;
    color: white;
    input {
      margin-left: 0.5rem;
    }
  }
}
