.modal-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  color: black;
  padding: 3rem;
  border-radius: 0.5rem;
  display: flex;
  align-content: center;
  flex-direction: column;
  box-shadow: $special-glow;

  .modal-box-img {
    max-width: 70%;
    margin: 0 auto 1rem;
    border-radius: 0.5rem;
  }

  .modal-box-closebutton {
    top: 1rem;
    right: 1rem;
    position: absolute;
    color: black;
    &:hover {
      opacity: 80%;
    }
  }
}
