@import "vars";
@import "character-grid";
@import "simple-modal";
@import "navbar";
@import "footer";
@import "typography";

* {
  &:focus {
    border: $border-focus;
  }
}

html {
  background-color: $primary;
  body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
}
