.character-grid-container {
  max-width: 80%;
  margin: auto auto 3rem;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
}
.character-grid-container .flip-card {
  border-radius: 0.5rem;
  overflow: hidden;
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
}
.character-grid-container .flip-card:hover {
  z-index: 1;
  box-shadow: 0 0 60px 30px white, 0 0 100px 60px #bdffa6, 0 0 140px 90px cyan;
}
.character-grid-container .flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
.character-grid-container .flip-card .flip-card-inner {
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}
.character-grid-container .flip-card .flip-card-inner .flip-card-front,
.character-grid-container .flip-card .flip-card-inner .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.character-grid-container .flip-card .flip-card-front img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.character-grid-container .flip-card .flip-card-back {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: black;
  transform: rotateY(180deg);
  width: 100%;
  height: 100%;
}

@media only screen and (min-width: 600px) {
  .character-grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (min-width: 768px) {
  .character-grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (min-width: 992px) {
  .character-grid-container {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media only screen and (min-width: 1200px) {
  .character-grid-container {
    grid-template-columns: repeat(5, 1fr);
  }
}
.modal-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  color: black;
  padding: 3rem;
  border-radius: 0.5rem;
  display: flex;
  align-content: center;
  flex-direction: column;
  box-shadow: 0 0 60px 30px white, 0 0 100px 60px #bdffa6, 0 0 140px 90px cyan;
}
.modal-box .modal-box-img {
  max-width: 70%;
  margin: 0 auto 1rem;
  border-radius: 0.5rem;
}
.modal-box .modal-box-closebutton {
  top: 1rem;
  right: 1rem;
  position: absolute;
  color: black;
}
.modal-box .modal-box-closebutton:hover {
  opacity: 80%;
}

.navbar {
  padding: 1rem 0;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-items: center;
}
.navbar .navbar-logo {
  width: 25vw;
  margin: auto;
  text-align: center;
  cursor: pointer;
}
.navbar .navbar-logo:focus {
  background-color: red;
  border: 1px dotted white;
}
.navbar .search-bar {
  display: flex;
  margin: 1rem auto;
  color: white;
}
.navbar .search-bar input {
  margin-left: 0.5rem;
}

.footer {
  padding: 2rem 0 1rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
  bottom: 0;
  width: 100%;
  margin-top: auto;
}
.footer .footer-github-line {
  margin: 0 auto;
  text-align: center;
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
}

a {
  text-decoration: none;
  color: #8e24aa;
}
a .devicon-github-original {
  font-size: 150%;
}
a:hover {
  color: #7b1fa2;
}

*:focus {
  border: 1px dotted white;
}

html {
  background-color: #021527;
}
html body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}/*# sourceMappingURL=style.css.map */