@import "vars";
@import "character-grid";
@import "simple-modal";
@import "navbar";
@import "footer";

html {
  background-color: $main;
  body {
    margin: 0;
    // for footer to stick to the bottom
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    a {
      text-decoration: none;
      color: #8e24aa;
      .devicon-github-original {
        font-size: 150%;
      }
      &:hover {
        color: #7b1fa2;
      }
    }
  }
}
